blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  border-left: 5px solid #011f2f;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  line-height: 1.42857143;
  color: #ebebeb;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: "\2014 \00A0";
}

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #011f2f;
  border-left: 0;
}

.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: "";
}

.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: "\00A0 \2014";
}

.jumbotron {
  color: inherit;
  background-color: #012f48;
}

.jumbotron>hr {
  border-top-color: #1a1a1a;
}

.light-blue{
  background-color: #034f7a;
  color: inherit;
}

.lighter-blue{
  background-color: #035f93;
  color: inherit;
}

.dark-blue{
  background-color: #012f48;
  color: inherit;
}

.darker-blue{
  background-color: #011f2f;
  color: inherit;
}

.block-menu .nav li a{
  border-bottom: 1px solid #e5e5e7;
  text-align: center;
  color: #ffbf00;
}

.block-menu .nav li a:hover{
  background-color: #012f48;
}

.product-widget{
  overflow: hidden;
}

.product-widget:hover{
  border: 2px solid #034f7a;
}

.product-image-widget{
  transition: all .2s ease-in-out;
}

.product-image-widget:hover{
  transform: scale(1.1);
}

.slide-radial{
  background-color: #cbcbcb;
  background-image: radial-gradient(circle at bottom center, #cbcbcb, #ebebeb 33% );
}

@media screen and (max-width: 767px){
  #block-block-13 .btn-blue{
    margin-bottom: 2em
  }
  #block-block-9 .row-eq-height{
    display: block;
  }
}
