a {
  background-color: transparent;
}

body {
  color: #ebebeb !important;
  background-color: #003f62;
}

a,
a:visited,
a:link {
  color: #ffbf00;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
}

a:hover {
  color: #e6ac00!important;
  border-bottom: 1px dashed #e6ac00;
  text-decoration: none!important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
  color: #ebebeb!important;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small,
.h1 .small, .h2 .small, .h3 .small,
.h4 .small, .h5 .small, .h6 .small {
  color: #ebebeb;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 21px;
  margin-bottom: 10.5px;
  color: #ffffff;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  color: #ffffff;
}

p {
  margin: 0 0 10.5px;
}

::selection {
  background-color: #cc9900;
  color: #ffffff;
}

.lead {
  color: #ebebeb;
}

.text-muted {
  color: #d0cccc;
}

.submitted{
  color: #d0cccc;
}

.text-primary {
  color: #ffbf00;
}

.block-title {
  color: #ffffff;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #cc9900;
}

.text-warning {
  color: #bf8f00;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #8c6900;
}

.bg-primary {
  color: #fff;
  background-color: #ffbf00;
}

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #cc9900;
}

.bg-warning {
  background-color: #bf8f00;
}

a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #8c6900;
}

.page-header {
  padding-bottom: 9.5px;
  margin: 42px 0 21px;
  border-bottom: 1px solid #ebebeb;
}

caption {
  color: #d0cccc;
}

label {
  font-size: inherit;
  color: #ffffff;
}

.control-label {
  font-size: inherit;
  color: #ffffff;
}

.label {
  color: #ffffff;
  font-size: inherit;
}

a.label:hover,
a.label:focus {
  color: #ffffff;
}

.label-default {
  background-color: #d0cccc;
}

.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #39444e;
}

.label-primary {
  background-color: #ffbf00;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #cc9900;
}

.label-warning {
  background-color: #bf8f00;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #8c6900;
}

.text-primary,
.text-primary:hover {
  color: #ffbf00;
}

.text-warning,
.text-warning:hover {
  color: #bf8f00;
}

.slick-slide h4, .slick-slide p, .slick-slide ul{
  color: #0e2e46;
}

.drop-character{
  bottom: -0.25em;
  position: relative;
}

.page-header {
  border-bottom-color: #333333;
}

.taxonomy-term-description {
  padding-bottom: 3em;
  padding-top: 2.5em;
}
